
<div ng-controller="ContactController">
    <h2>Contact Us</h2>
    <b>Phone : </b> <span class="pull-right">512 - 337 - 8181</span><br />
    <b>24 Emergency Service : </b> <span class="pull-right">512 - 791 - 3284</span>
    <div ng-show="showPanel">
        <ng-form name="ContactForm" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label">First Name</label><br />
                    <span ng-show="ContactForm.firstName.$invalid && isSubmitted" class="text-danger">First Name is required</span>
                    <input class="form-control" type="text" ng-model="contact.FirstName" name="firstName" ng-required="true">
                </div>
                <div class="form-group">
                    <label class="control-label" for="focusedInput">Last Name</label><br />
                    <span ng-show="ContactForm.lastName.$invalid && isSubmitted" class="text-danger">Last Name is required</span>
                    <input class="form-control" type="text" ng-model="contact.LastName" name="lastName" ng-required="true">
                </div>
                <div class="form-group">
                    <label class="control-label" for="focusedInput">Email Address</label><br />
                    <span ng-show="ContactForm.emailField.$invalid && isSubmitted" class="text-danger">Email address is required</span>
                    <span ng-show="ContactForm.emailField.$error.pattern && isSubmitted" class="text-danger">That is not a valid email address</span>
                    <input class="form-control" type="email" ng-model="contact.Email" name="emailField" ng-required="true" ng-pattern="/^[^\s&#64]+&#64[^\s&#64]+\.[^\s&#64]{3,}$/">
                </div>
                <div class="form-group">
                    <label class="control-label" for="focusedInput">Mailing Address</label><br />
                    <span ng-show="ContactForm.address.$invalid && isSubmitted" class="text-danger">Address is required</span>
                    <input class="form-control" type="text" ng-model="contact.AddressOne" name="address" ng-required="true">
                    <input class="form-control" type="text" ng-model="contact.AddressTwo">
                </div>
                <div class="form-group">
                    <label class="control-label" for="focusedInput">Message</label><br />
                    <span ng-show="ContactForm.message.$invalid && isSubmitted" class="text-danger">Message is required</span>
                    <textarea class="form-control" rows="3" id="textArea" ng-model="contact.Message" name="message" ng-required="true"></textarea>
                </div>
                <div class="form-group" style="text-align: right;">
                    <a class="btn btn-primary" ng-click="sendMessage()">Send Message</a>
                </div>
            </fieldset>

        </ng-form>
    </div>

    <p ng-show="isMessageSent" class="text-success">Thank you for contacting us. Some one will be in touch with your soon.</p>

    <div ng-show="isSendingMessage">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        <span>Sending Message...</span>
    </div>

</div>
