
.form-group {
    margin-top: 2px;
}

p {
    font-size: 1.3em;
}


.navbar-nav li {
    font-size: 1.25em;
    /*font-family: Copperplate, Copperplate Gothic Light, fantasy;*/
    color: #ff6600;
    font-family: 'Alegreya SC', serif;
}


#navigation {
    /*top: 14vh;
    z-index: 1000;*/
    height: 80px;
    background-color: #000;   
    margin-top: 157px;
}

.header {
    height: 10em;
    width: 110em;
}
@media (min-width: 768px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
}

@media (max-width: 1500px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 12.5%;
        transform: translatex(12.5%);
    }
}

@media (max-width: 1200px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 0%;
        transform: translatex(0%);
    }

    #navigation {
        top: 11.5vh;
    }

    .header {
        width: 97.55vw
    }
}



@media (max-width: 768px) {
   

    .navbar-nav li {
        color: #000;
        background-color: #fff;
    }

   .row .top {
        padding-top: 35vh;
    }

  .header {
      height: 5em;
  }
}

.top {
    padding-top: 30vh;
}
