
@{
    ViewBag.Title = "Converyors";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style>
    img {
        width: 100%;
        height: 15em;
    }

        .photo:hover {
            box-shadow: 10px 10px 5px grey;
        }

    @@media(max-width: 480px) {
        img {
            width: 100%;
            padding-left: 10vw;
        }
    }
</style>

<div class="row top">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-lg-6 col-lg-push-3 col-md-6 col-md-push-3">
                <h2>Conveyors</h2>
                <p>A conveyor system is a common piece of mechanical handling equipment that moves materials from one location to another. Conveyors are especially useful in applications involving the transportation of heavy or bulky materials. Conveyor systems allow quick and efficient transportation for a wide variety of materials, which make them very popular in the material handling and packaging industries. Many kinds of conveying systems are available, and are used according to the various needs of different industries.</p>



            </div>
            <div class="col-xs-12 col-lg-3 col-lg-push-3 col-md-push-2 col-md-3">
                @Html.Partial("~/Views/Home/Partial/Contact.cshtml")
            </div>
            <div class="col-xs-12 col-md-3 col-md-pull-8 col-lg-2 col-lg-pull-9 text-center">
                <a data-toggle="modal" data-target="#firstModal"><img src="/Images/Products/Conveyors/Ball Transfer Table.jpg" alt="Image of ball transfer table conveyor" class="photo" /></a><br />
                <h4>Ball Transfer Table</h4>
                <a data-toggle="modal" data-target="#secondModal"><img src="/Images/Products/Conveyors/Flexible Gravity Conveyor.jpg" alt="Image of flexible gravity conveyor" class="photo" /></a><br />
                <h4>Flexible Gravity Conveyor</h4>
                <a data-toggle="modal" data-target="#thirdModal"><img src="/Images/Products/Conveyors/Gravity Conveyor (1).jpg" alt="Image of gravity conveyor" class="photo" /></a><br />
                <h4>Gravity Conveyor</h4>
                <a data-toggle="modal" data-target="#fourthModal"><img src="/Images/Products/Conveyors/Live Roller Conveyor.jpg" alt="Image of live roller conveyor" class="photo" /></a><br />
                <h4>Live Roller Conveyor</h4>
                <a data-toggle="modal" data-target="#fifthModal"><img src="/Images/Products/Conveyors/Omni Directional Conveyor.jpg" alt="Image of omni directional conveyor" class="photo" /></a><br />
                <h4>Omni Directional Conveyor</h4>
                <a data-toggle="modal" data-target="#sixthModal"><img src="/Images/Products/Conveyors/Pallet Conveyor.jpg" alt="Image of pallet conveyor" class="photo" /></a><br />
                <h4>Pallet Conveyor</h4>
                <a data-toggle="modal" data-target="#seventhModal"><img src="/Images/Products/Conveyors/Roller Bed Conveyor.jpg" alt="Image of roller bed conveyor" class="photo" /></a><br />
                <h4>Roller Bed Conveyor</h4>
                <a data-toggle="modal" data-target="#eightModal"><img src="/Images/Products/Conveyors/Slider Bed Conveyor.jpg" alt="Image of slider" class="photo" /></a><br />
                <h4>Slider Bed Conveyor</h4>
                <a data-toggle="modal" data-target="#ninthModal"><img src="/Images/Products/Conveyors/Wire Mesh Belt Conveyor.png" alt="Image of wire mesh belt conveyor" class="photo" /></a><br />
                <h4>Wire Mesh Belt Conveyor</h4>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="modal fade" id="firstModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 style="font-weight: bold;" class="modal-title">Ball Transfer Table</h4>
                    </div>
                    <div class="modal-body">
                        <img src="/Images/Products/Conveyors/Ball Transfer Table.jpg" alt="Image of ball transfer table conveyor" class="photo" style="float: left; padding-right: 5px;" />

                        <p></p>
                        <ul></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="secondModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 style="font-weight: bold;" class="modal-title">Flexible Gravity Conveyor</h4>
                    </div>
                    <div class="modal-body">
                        <img src="/Images/Products/Conveyors/Flexible Gravity Conveyor.jpg" alt="Image of flexible gravity conveyor" class="photo" style="float: left; padding-right: 5px;" />

                        <p></p>
                        <ul></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="thirdModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 style="font-weight: bold;" class="modal-title">Gravity Conveyor</h4>
                    </div>
                    <div class="modal-body">
                        <img src="/Images/Products/Conveyors/Gravity Conveyor (1).jpg" alt="Image of gravity conveyor" class="photo" style="float: left; padding-right: 5px;" />

                        <p></p>
                        <ul></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="fourthModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 style="font-weight: bold;" class="modal-title">Live Roller Conveyor</h4>
                    </div>
                    <div class="modal-body">
                        <img src="/Images/Products/Conveyors/Live Roller Conveyor.jpg" alt="Image of live roller conveyor" class="photo" style="float: left; padding-right: 5px;" />

                        <p></p>
                        <ul></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="fifthModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 style="font-weight: bold;" class="modal-title">Omni Directional Conveyor</h4>
                    </div>
                    <div class="modal-body">
                        <img src="/Images/Products/Conveyors/Omni Directional Conveyor.jpg" alt="Image of omni directional conveyor" class="photo" style="float: left; padding-right: 5px;" />

                        <p></p>
                        <ul></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="sixthModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 style="font-weight: bold;" class="modal-title">Pallet Conveyor</h4>
                    </div>
                    <div class="modal-body">
                        <img src="/Images/Products/Conveyors/Pallet Conveyor.jpg" alt="Image of pallet conveyor" class="photo" style="float: left; padding-right: 5px;" />

                        <p></p>
                        <ul></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="seventhModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 style="font-weight: bold;" class="modal-title">Roller Bed Conveyor</h4>
                    </div>
                    <div class="modal-body">
                        <img src="/Images/Products/Conveyors/Roller Bed Conveyor.jpg" alt="Image of roller bed conveyor" class="photo" style="float: left; padding-right: 5px;" />

                        <p></p>
                        <ul></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="eightModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 style="font-weight: bold;" class="modal-title">Slider Bed Conveyor</h4>
                    </div>
                    <div class="modal-body">
                        <img src="/Images/Products/Conveyors/Slider Bed Conveyor.jpg" alt="Image of slider" class="photo" style="float: left; padding-right: 5px;" />

                        <p></p>
                        <ul></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ninthModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 style="font-weight: bold;" class="modal-title">Wire Mesh Belt Conveyor</h4>
                    </div>
                    <div class="modal-body">
                        <img src="/Images/Products/Conveyors/Wire Mesh Belt Conveyor.png" alt="Image of wire mesh belt conveyor" class="photo" style="float: left; padding-right: 5px;" />

                        <p></p>
                        <ul></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

