
@{
    ViewBag.Title = "OverheadCranes";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="row top">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-lg-5 col-lg-push-3 col-md-6 col-md-push-3">
                <h2>Overhead Cranes</h2>
                <p>CMH designs, manufactures, installs and services complete overhead material handling systems and stocks hoists, trolleys, accessories, replacement parts and provides service for most major brands.</p>
                <ul>
                    <li>Emergency Repair 24 hour availability</li>
                    <li>Repair Most brands of hoists and cranes</li>
                    <li>Crane &amp; Hoist Repair Parts for all brands</li>
                    <li>Service Scheduled preventative maintenance programs</li>
                    <li>Load Testing Certified proof load testing of cranes &amp; hoists</li>
                    <li>OSHA Certifications Inspections and testing for OSHA compliance</li>
                    <li>Modernization, Modification, and upgrades to your existing crane systems</li>
                    <li>Below the Hook Slings, spreader bars, lifting attachments</li>
                    <li>Ergonomic Systems Light capacity handling systems for assembly, warehouse and distribution handling</li>
                    <li>Turnkey Crane Systems </li>
                </ul>
                <p>We design, manufacture and install complete overhead material handling systems. Bridge cranes, Hoists, Chain Hoists, Wire Rope Hoists, Air Hoists, pendant controls, Radio controls. Top Running Single Girder, Under Running Single Girder, Top Running Double Girder, Under Running Double Girder, Gantry Crane, Single Leg Gantry Crane, Floor Mount Jib Crane, Wall Mount Jib Cranes, Free Standing Work Stations.</p>
            </div>
            <div class="col-xs-12 col-lg-3 col-lg-push-3 col-md-push-3 col-md-3">
                @Html.Partial("~/Views/Home/Partial/Contact.cshtml")
            </div>
            <div class="col-xs-12 col-md-3 col-md-pull-9 col-lg-2 col-lg-pull-7 text-center">
                <a data-toggle="modal" data-target="#SingleGirderBridgeCraneModal"><img src="/Images/Products/Cranes/SingleGirder.png" alt="Image of single girder crane" class="photo" /></a><br />
                <h4>Single Girder Bridge Crange</h4>
                <a data-toggle="modal" data-target="#DoubleGirderBridgeCraneModal"><img src="/Images/Products/Cranes/DoubleGirder.jpg" alt="Image of double girder crane" class="photo" /></a><br />
                <h4>Double Girder Bridge Crange</h4>
                <a data-toggle="modal" data-target="#UnderRunningBridgeCraneModal"><img src="/Images/Products/Cranes/UnderRunningBridge.png" alt="Image of under running bridge crane" class="photo" /></a><br />
                <h4>Under Running Bridge Crane</h4>
                <a data-toggle="modal" data-target="#TopRunningBridgeCraneModal"><img src="/Images/Products/Cranes/TopRunningBridge.jpg" alt="Image of top running bridge crane" class="photo" /></a><br />
                <h4>Top Running Bridge Crane</h4>
                <a data-toggle="modal" data-target="#GantryCraneModal"><img src="/Images/Products/Cranes/Gantry.jpg" alt="Image of gantry crane" class="photo" /></a><br />
                <h4>Gantry Crane</h4>
                <a data-toggle="modal" data-target="#JibcraneModal"><img src="/Images/Products/Cranes/Jib.png" alt="Image of jib crane" class="photo" /></a><br />
                <h4>Jib crane</h4>
                <a data-toggle="modal" data-target="#FreestandingWorkstationCraneModal"><img src="/Images/Products/Cranes/Freestanding.png" alt="Image of freestanding crane" class="photo" /></a><br />
                <h4>Freestanding Workstation Crane</h4>
                <a data-toggle="modal" data-target="#CeilingMountedWorkstationCraneModal"><img src="/Images/Products/Cranes/CeilingMounted.png" alt="Image of ceiling mounted crane" class="photo" /></a><br />
                <h4>Ceiling Mounted Workstation Crane</h4>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="modal fade" id="SingleGirderBridgeCraneModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 style="font-weight: bold;" class="modal-title">Single Girder Bridge Crange</h4>
                    </div>
                    <div class="modal-body">
                        <img src="/Images/Products/Cranes/SingleGirder.png" alt="Image of single girder crane" class="photo" style="float: left; padding-right: 5px; width : 50%;" />

                        <p>This type of overhead crane configuration is made up of a single bridge girder, two end trucks, and a trolley hoist which runs along the bottom flange of the bridge girder between the end trucks.</p>
                        <ul></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="DoubleGirderBridgeCraneModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 style="font-weight: bold;" class="modal-title">Double Girder Bridge Crange</h4>
                    </div>
                    <div class="modal-body">
                        <img src="/Images/Products/Cranes/DoubleGirder.jpg" alt="Image of double girder crane" class="photo" style="float: left; padding-right: 5px; width : 50%;" />

                        <p>A double girder overhead crane configuration is made up of two bridge girders, two end trucks, and a trolley hoist assembly. The trolley hoist travels on top of rails that are mounted to the top of the bridge girders.</p>
                        <ul></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="UnderRunningBridgeCraneModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 style="font-weight: bold;" class="modal-title">Under Running Bridge Crane</h4>
                    </div>
                    <div class="modal-body">
                        <img src="/Images/Products/Cranes/UnderRunningBridge.png" alt="Image of under running bridge crane" class="photo" style="float: left; padding-right: 5px; width : 50%;" />

                        <p>The bridge of an underhung crane is engineered to travel on the bottom flange of a runway beam. The roof structure of a building typically supports the runway beam in this type of configuration.</p>
                        <ul></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="TopRunningBridgeCraneModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 style="font-weight: bold;" class="modal-title">Top Running Bridge Crane</h4>
                    </div>
                    <div class="modal-body">
                        <img src="/Images/Products/Cranes/TopRunningBridge.jpg" alt="Image of top running bridge crane" class="photo" style="float: left; padding-right: 5px; width : 50%;" />

                        <p>The bridge of a top running crane is designed to travel on rails that are mounted onto the runway beams. The beams can be supported by either precisely engineered free-standing columns or by the existing columns of the building.</p>
                        <ul></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="GantryCraneModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 style="font-weight: bold;" class="modal-title">Gantry Crane</h4>
                    </div>
                    <div class="modal-body">
                        <img src="/Images/Products/Cranes/Gantry.jpg" alt="Image of gantry crane" class="photo" style="float: left; padding-right: 5px; width : 50%;" />

                        <p>A gantry crane can be designed with either a single or double girder bridge; however the main difference is that the gantry girders are attached to legs on both sides of the span. The end trucks are at the bottom of the legs allowing the crane to travel directly on the ground or on a rail system that can either be laid on top of the floor or embedded in the floor. This gantry design eliminates the need for a column or overhead runway system.</p>
                        <ul></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="JibcraneModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 style="font-weight: bold;" class="modal-title">Jib crane</h4>
                    </div>
                    <div class="modal-body">
                        <img src="/Images/Products/Cranes/Jib.png" alt="Image of jib crane" class="photo" style="float: left; padding-right: 5px; width : 50%;" />

                        <p>A Jib Crane is another great solution that could fit your company’s specific needs. The jib design is made up of a boom (cantilever) and is mounted to a column. With this design, the trolley hoist assembly can move back and forth across the boom and it can be engineered to rotate in a full 360 degree circle.</p>
                        <ul></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="FreestandingWorkstationCraneModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 style="font-weight: bold;" class="modal-title">Freestanding Workstation Crane</h4>
                    </div>
                    <div class="modal-body">
                        <img src="/Images/Products/Cranes/Freestanding.png" alt="Image of freestanding crane" class="photo" style="float: left; padding-right: 5px; width : 50%;" />

                        <p>Free Standing floor supported systems do not put stress on the building&#39;s overhead structure. Installation is usually straight forward, and these cranes are also easier to relocate in the future. Free Standing systems require a reinforced concrete floor of at least 6 inches.</p>
                        <ul>
                            <li style="font-size: 1.25em;">Capacities from 150 to 4000 lbs.</li>
                            <li style="font-size: 1.25em;">Rectangular Coverage with up to 34’ bridge and 124’ runway standard</li>
                            <li style="font-size: 1.25em;">Standard support distances of 20, 25, and 30 feet.</li>
                            <li style="font-size: 1.25em;">Easy to move and position loads</li>
                            <li style="font-size: 1.25em;">Modular design for greater flexibility</li>
                            <li style="font-size: 1.25em;">Doesn&#39;t require existing support structure</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="CeilingMountedWorkstationCraneModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 style="font-weight: bold;" class="modal-title">Ceiling Mounted Workstation Crane</h4>
                    </div>
                    <div class="modal-body">
                        <img src="/Images/Products/Cranes/CeilingMounted.png" alt="Image of ceiling mounted crane" class="photo" style="float: left; padding-right: 5px; width : 50%;" />

                        <p>With Ceiling Mounted Systems, supporting steel does not interfere with the handling operation. Ceiling Mounted Systems require a building with an adequate overhead structure to hang the crane.</p>
                        <ul>
                            <li style="font-size: 1.25em;">Capacities from 150 to 4000 lbs. </li>
                            <li style="font-size: 1.25em;">Rectangular Coverage with up to 34’ bridge and 124’ runway standard</li>
                            <li style="font-size: 1.25em;">Standard support distances of 20, 25, and 30 feet.</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



