
@{
    ViewBag.Title = "Shelving";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style>
    img {
        width: 100%;
        height: 15em;
    }

    @@media(max-width: 480px) {
        img {
            width: 100%;
            padding-left: 10vw;
        }
    }
</style>

<div class="row top">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-lg-5 col-lg-push-3 col-md-6 col-md-push-3">
                <h2>Shelving</h2>
                <p>CMH offers a variety of warehouse shelving solutions including boltless shelving, archive shelving, bulk rack shelving, and chrome wire shelving. Boltless and archive shelving are easy to install with little to no hardware required, and can be easily customized to fit your facility and needs. Chrome wire shelving is perfect for organization while maintaining air circulation and light. These shelves are also very easy to assemble, easy to expand as your needs grow, and help keep your inventory and items fully visible. Bulk racks are ideal for multi-level storage of hardware, tools, and heavy duty items. Bulk racking is available in various configurations, and come standard with particle board decking with the optional upgrade to wire mesh decking.</p>

            </div>
            <div class="col-xs-12 col-lg-3 col-lg-push-3 col-md-push-3 col-md-3">
                <contact-panel></contact-panel>
            </div>
            <div class="col-xs-12 col-md-3 col-md-pull-9 col-lg-2 col-lg-pull-7 text-center">
                <a data-toggle="modal" data-target="#ArchiveShelvingModal"><img src="/Images/Products/Shelvings/Archive Shelving.jpg" alt="Image of archive shelving" class="photo" /></a><br />
                <h4>Archive Shelving</h4>
                <a data-toggle="modal" data-target="#AutomotiveShelvingModal"><img src="/Images/Products/Shelvings/Automotive Shelving.jpg" alt="Image of automotive shelving" class="photo" /></a><br />
                <h4>Automotive Shelving</h4>
                <a data-toggle="modal" data-target="#BoltlessPBShelvingModal"><img src="/Images/Products/Shelvings/Boltless PB Shelving.jpg" alt="Image of boltless shelving" class="photo" /></a><br />
                <h4>Boltless PB Shelving</h4>
                <a data-toggle="modal" data-target="#ClipShelvingModal"><img src="/Images/Products/Shelvings/Clip Shelving.jpg" alt="Image of clip shelving" class="photo" /></a><br />
                <h4>Clip Shelving</h4>
                <a data-toggle="modal" data-target="#WidespanShelvingModal"><img src="/Images/Products/Shelvings/Widespan shelving.jpg" alt="Image of widespan shelving" class="photo" /></a><br />
                <h4>Widespan Shelving</h4>
                <a data-toggle="modal" data-target="#WireShelvingModal"><img src="/Images/Products/Shelvings/Wire Shelving.jpg" alt="Image of wire shelving" class="photo" /></a><br />
                <h4>Wire Shelving</h4>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="modal fade" id="ArchiveShelvingModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 style="font-weight: bold;" class="modal-title">Archive Shelving</h4>
                    </div>
                    <div class="modal-body">
                        <img src="/Images/Products/Shelvings/Archive Shelving.jpg" alt="Image of archive shelving" class="photo" style="float: left; padding-right: 5px;" />

                        <p>Designed for the hand-loading of intermediate weight bulky items, this versatile rack system can be used in hundreds of storage applications.</p>
                        <p>In addition to storing carton merchandise in shipping and receiving departments, it can also be used for display racking in furniture and department stores, for storage of medical and dietary supplies in hospitals and more.</p>
                        <ul></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="AutomotiveShelvingModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 style="font-weight: bold;" class="modal-title">Automotive Shelving</h4>
                    </div>
                    <div class="modal-body">
                        <img src="/Images/Products/Shelvings/Automotive Shelving.jpg" alt="Image of automotive shelving" class="photo" style="float: left; padding-right: 5px;" />

                        <p>Automotive shelving provides a highly versatile system for efficiently storing automobile parts and accessories including tires.</p>
                        <ul></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="BoltlessPBShelvingModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 style="font-weight: bold;" class="modal-title">Boltless PB Shelving</h4>
                    </div>
                    <div class="modal-body">
                        <img src="/Images/Products/Shelvings/Boltless PB Shelving.jpg" alt="Image of boltless shelving" class="photo" style="float: left; padding-right: 5px;" />

                        <p>Boltless systems maximize existing square footage economically – all shelving can be disassembled with ease, transported, and recombined to create extra storage where needed. Installation costs are 30-40% lower than bolted shelving because rapid assembly requires much less time.</p>
                        <ul></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ClipShelvingModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 style="font-weight: bold;" class="modal-title">Clip Shelving</h4>
                    </div>
                    <div class="modal-body">
                        <img src="/Images/Products/Shelvings/Clip Shelving.jpg" alt="Image of clip shelving" class="photo" style="float: left; padding-right: 5px;" />

                        <p>Clip Shelving is the universal answer, solving any basic storage problem with ease. Open design ensures easy stocking and retrieval. Compression clip provides bolt-free assembly; also makes shelf adjustments quick and easy. Sway braces on rear and sides provides ultimate stability. Ideal for bulky or packaged items. Shelves are adjustable in 1 1/2” increments.</p>
                        <ul></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="WidespanShelvingModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 style="font-weight: bold;" class="modal-title">Widespan Shelving</h4>
                    </div>
                    <div class="modal-body">
                        <img src="/Images/Products/Shelvings/Widespan shelving.jpg" alt="Image of widespan shelving" class="photo" style="float: left; padding-right: 5px;" />

                        <p>Wide Span Shelving is designed for the hand-loading of medium to heavy loads and is ideal for storing small quantities of a large variety of product types. Available with an assortment of accessories and components, Wide Span Shelving can be adapted to meet a variety of hand-stack storage requirements. It can even be paired with stairs and catwalks to create multiple levels of storage, maximizing the height of your warehouse.</p>
                        <ul></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="WireShelvingModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 style="font-weight: bold;" class="modal-title">Wire Shelving</h4>
                    </div>
                    <div class="modal-body">
                        <img src="/Images/Products/Shelvings/Wire Shelving.jpg" alt="Image of wire shelving" class="photo" style="float: left; padding-right: 5px;" />

                        <p>The ever popular chrome wire shelving system is perfect for any dry storage application. Chrome wire shelving is by far the most popular wire shelving style we offer due to its simple assembly without tools!</p>
                        <p>Wire shelving has become one of the most popular storage systems available to consumers and Industrial users alike. With storage capacities of 600-800 LBS per shelf, wire shelving can help organize any storage area.</p>
                        <ul></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

