<div class="row top">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-lg-5 col-lg-push-3 col-md-6 col-md-push-3">
                <h2>Platforms and Ladders</h2>
                <p>
                    At PW Platforms, we design and manufacture quality ladders and platforms that comply with OSHA and ANSI standards. We offer custom design services to modify existing products to fit any size, style or safety feature for your specific application.
                </p>
                <p>
                    Our high quality American-made products have been serving the Maritime and Material Handling industries since 1965. Our products range from mobile ladders and platforms to fixed ladders, cabinets, gangways and stairways.
                </p>
                <p>
                    Take a look at our variety of products, and count on us to provide your safety ladder or platform today.
                </p>



                <a href="https://www.pwplatforms.com/products.html" target="_blank" class="btn btn-info">More Information</a><br />
            </div>
            <div class="col-xs-12 col-lg-3 col-lg-push-3 col-md-push-3 col-md-3">
                <contact-panel></contact-panel>
            </div>
            <div class="col-xs-12 col-md-3 col-md-pull-9 col-lg-2 col-lg-pull-7 text-center">
                <img src="/Images/Products/PlatformsAndLadders/AccessStairway.jpg" />
                <br />
                <h4>Access Stairway</h4>
                <img src="/Images/Products/PlatformsAndLadders/AluminumRollingLadder.jpg" />
                <br />
                <h4>Aluminum Rolling Ladder</h4>
                <img src="/Images/Products/PlatformsAndLadders/CantileverLadder.jpg" />
                <br />
                <h4>Cantilever Ladder</h4>
                <img src="/Images/Products/PlatformsAndLadders/CrossOverPlatform.jpg" />
                <br />
                <h4>Crossover Platform</h4>
                <img src="/Images/Products/PlatformsAndLadders/DoubleEntryPlatform.jpg" />
                <br />
                <h4>Double Entry Platform</h4>
                <img src="/Images/Products/PlatformsAndLadders/FixedLadders.jpg" />
                <br />
                <h4>Fixed Ladders</h4>
                <img src="/Images/Products/PlatformsAndLadders/ForkLiftWorkPlatform.jpg" />
                <br />
                <h4>Forklift Work Platform</h4>
                <img src="/Images/Products/PlatformsAndLadders/GasCylinderCabinet.jpg" />
                <h4>Gas Cylinder Cabinet</h4>
                <img src="/Images/Products/PlatformsAndLadders/IndustrialStairway.jpg" />
                <br />
                <h4>Industrial Stairway</h4>
                <img src="/Images/Products/PlatformsAndLadders/MaintenancePlatform.jpg" />
                <br />
                <h4>Maintenance Platform</h4>
                <img src="/Images/Products/PlatformsAndLadders/MobileOfficeStand.jpg" />
                <br />
                <h4>Mobile Office Stand</h4>
                <img src="/Images/Products/PlatformsAndLadders/MobileWorkPlatform.jpg" />
                <br />
                <h4>Mobile Work Platform</h4>
                <img src="/Images/Products/PlatformsAndLadders/RollAFoldLadder.jpg" />
                <br />
                <h4>Roll A Fold Ladder</h4>
                <img src="/Images/Products/PlatformsAndLadders/RollingSafetyLadder.jpg" />
                <br />
                <h4>Rolling Safety Ladder</h4>
                <img src="/Images/Products/PlatformsAndLadders/RollingStockPicker.jpg" />
                <br />
                <h4>Rolling Stock Picker</h4>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <!--@for (var i = 0; i < @Model.Product.Descriptions.SubDescriptions.Count(); i++)
        {
        <div class="modal fade" id="@Model.Product.ModalIds.ToArray()[i]">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        @if (i < Model.Product.Photos.Count())
                        {
                        <h4 style="font-weight: bold;" class="modal-title">@Model.Product.Descriptions.SubDescriptions.ToList()[i].Title</h4>
                        }
                    </div>
                    <div class="modal-body">
                        @if (i < Model.Product.Photos.Count())
                        {
                        <img src="@Model.Product.Photos.ToList()[i].FilePath" alt="@Model.Product.Photos.ToList()[i].ImageDescription" class="photo" style="float: left; padding-right: 5px;" />
                        }

                        @foreach (var item in @Model.Product.Descriptions.SubDescriptions.ToList()[i].Descriptions)
                        {
                        <p>@item</p>
                        }
                        <ul>
                            @if (@Model.Product.Descriptions.SubDescriptions.ToList()[i].ListDescriptions != null && @Model.Product.Descriptions.SubDescriptions.ToList()[i].ListDescriptions.Any())
                            {
                            foreach (var item in @Model.Product.Descriptions.SubDescriptions.ToList()[i].ListDescriptions)
                            {
                            <li style="font-size: 1.25em;">@item</li>
                            }
                            }
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        }-->
    </div>
</div>