@using System.Net.Http.Formatting
@using System.Web.Mvc.Html

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Centex Material Handling. Centex Material Handling (CMH) is a distributor, integrator, & service provider of material handling & storage equipment. CMH helps companies safely increase productivity, recapture floor space, reduce errors, decrease cycle times, and increase bottom lines. " />
    <meta name="author" content="Jeremy Parris" />
    <meta name="keywords" content="material, handling, austin, tx, leander, cedar park, centex, Austin, georgetown, killeen, temple, bastrop, travis, williamson, bell, san marcos, county, overhead, cranes, crane, service, inspection, osha, repair, weight, test, load, workstation, jib, gantry, modification, repair, installation, hoist, inspection, weight, conveyor, maintenance, dock, loading, waco, temple, round rock, kyle, new braunfels, belton, ft, fort, hood, copperas, cove" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+SC:700,900" rel="stylesheet">
    <link href="~/Content/styles.css" rel="stylesheet" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css" rel="stylesheet" />
    <link href="~/node_modules/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/node_modules/bootstrap-material-design/dist/js/material.min.js"></script>
    <script src="~/node_modules/bootstrap-material-design/dist/js/ripples.min.js"></script>


    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />


    <script src="~/app/Shared/app.js"></script>
    <script src="~/app/Contact/ContactCtrl.js"></script>
    <script src="~/app/Services/servicescontroller.js"></script>
    <script src="~/app/Products/productscontroller.js"></script>
    <script src="~/app/ProductCatalog/catalogcontroller.js"></script>
    <script src="~/app/Contact/mapcontroller.js"></script>
    <script src="~/app/Downloads/downloadcontroller.js"></script>
    <script>
        $(document).ready(function () {
            $.material.init();
        });

    </script>
    <title>Centex Material Handling Austin, TX</title>

</head>

<body style="background-color: #fff;" ng-app="app">

    <div class="row navbar-fixed-top" style="background-color: #000;">
        <div class="col-xs-12 col-md-7 col-sm-7  col-lg-3 col-lg-offset-3" style="display: none;">
            <span style="">Centex Material Handling</span>
        </div>
        <div class="col-sm-5 col-md-5 col-lg-2 col-xs-12" style="display: none;">
            <address>
                <span style="color: #fff; font-size: 1.5em; font-family: Copperplate, Copperplate Gothic Light, fantasy;">AUSTIN, TEXAS</span><br />
            </address>

            <span style="color: #fff; font-size: 1.5em; font-family: Copperplate, Copperplate Gothic Light, fantasy;">PH: 512-337-8181</span><br />
            <span style="color: #fff; font-size: 1.5em; font-family: Copperplate, Copperplate Gothic Light, fantasy;">FAX: 512-646-2661</span>
        </div>
        <div class="col-lg-12">
            <img src="~/Images/Header/CentexHeaderOrange.png" class="text-center header" />
            <a href="tel:+15123378181" class="visible-xs" style="color: #fff; padding-left: 25px; font-weight: bold;">Office : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 512-337-8181</a>
            <a href="tel:+15127913284" class="visible-xs" style="color: #fff; padding-left: 25px; font-weight: bold;">24 Emergency Service : 512-791-3284</a>
           
        </div>
       
    </div>

    <nav class="navbar navbar-default navbar-fixed-top" id="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a class="navbar-brand" href="#">Centex Material Handling</a>*@
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse collapse navbar-responsive-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-center" style="margin-top: 10px;">
                    <li><a href="#/!">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                        <ul class="dropdown-menu">                          
                            <li><a href="#!services/preventivemaintenance">Preventive Maintenance</a></li>
                            <li><a href="#!services/loadtest">Load Test</a></li>
                            <li><a href="#!services/inspectionandrepairs">Inspections and Repairs</a></li>
                            <li><a href="#!services/relocation">Relocation</a></li>
                            <li><a href="#!services/modernizationandupgrades">Modernization and Upgrades</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Popular Products <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#!products/overheadcranes">Overhead Cranes</a></li>
                            <li><a href="#!products/palletracks">Pallet Racks</a></li>
                            <li><a href="#!products/loadingdockequipment">Loading Dock Equipment</a></li>
                            <li><a href="#!products/shelving">Shelving</a></li>
                            <li><a href="#!products/conveyors">Conveyors</a></li>
                            <li><a href="#!products/warehousemezzanines">Warehouse Mezzanines</a></li>
                            <li><a href="#!products/fallprotectionsystems">Fall Protection Systems</a></li>
                            <li><a href="#!products/demagdcspro">DEMAG DCS – Pro</a></li>
                            <li><a href="#!products/demagdcmpromanulift">DEMAG DCM-Pro Manulift</a></li>
                            <li><a href="#!products/gorbelgforce">GORBEL G-force</a></li>
                            <li><a href="#!products/platformsandladders">Platforms & Ladders</a></li>
                        </ul>
                    </li>
                 
                    <li><a href="#!catalog/main">Complete Product Catalog</a></li>
                    <li><a href="#!contact">Contact Us</a></li>                 
                    <li><a href="#!equipment">Pre-Owned Equipment</a></li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
        @RenderBody();
        <div ng-view></div>
    </div>
</body>
</html>
