@model Centex.Models.CatalogItem
@{
    ViewBag.Title = "Catalog";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style>
    iframe {
        height: 3750px;
        width: 100%;
    }

    @@media(max-width : 576px)
    {
        iframe{
            height : 8500px;
        }
    }
</style>

<div class="row top">
    <div class="col-lg-offset-1 col-lg-10">
        <iframe src="@Model.Url" name="targetframe" allowTransparency="true" scrolling="no" frameborder="0" title="Product Catalog"></iframe>
    </div>
</div>



