
@{
    ViewBag.Title = "Catalog";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style>
    iframe {
        height: 200vh;
        width: 100vh;
    }
</style>

<div class="row" style="padding-top: 20vh;">
    <div class="col-lg-offset-3 col-lg-9">
        <iframe src="http://centexmaterialhandling.theonlinecatalog.com/store/boxes/" name="targetframe" allowTransparency="true" scrolling="no" frameborder="0"></iframe>
    </div>
</div>



