
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<script src="~/app/Contact/mapcontroller.js"></script>

<style>
    .map-responsive {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }

    .map-responsive {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
</style>

<div class="row top">
    <div class="col-lg-offset-2 col-lg-3">
        @Html.Partial("~/Views/Home/Partial/Contact.cshtml")
    </div>
    <div class="col-lg-5">
        <div class="panel panel-default" ng-init="loadScript()" ng-controller="MapController">
            <div class="panel-body">
                <div id="googleMap" style="height: 60vh;" class="map-responsive"></div>
            </div>
        </div>
    </div>
</div>

