@model Centex.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<style>
    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        height: 40vh;
        width: 100%;
    }

    .btn {
        width: 100%;
    }

   
</style>
<div class="top">
    <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-push-3 col-md-6 col-md-push-6">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10" style="padding-top: 4vh;">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="~/Images/Carousel/15 ton crane weight test.JPG" alt="15 fifteen ton crane" />
                                <div class="carousel-caption">
                                    ...
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/Images/Carousel/5 ton crane installation demag.jpg" alt="5 five ton crane" />
                                <div class="carousel-caption">
                                    ...
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/Images/Carousel/Manual Roller Conveyor System.jpg" alt="manual roller conveyor system" />
                                <div class="carousel-caption">
                                    ...
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/Images/Carousel/Workstation Bench with locking drawers lights electrical.JPG" alt="workstation bench" />
                                <div class="carousel-caption">
                                    ...
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/Images/Carousel/pallet rack installation picture.jpg" alt="pallet rack installation" />
                                <div class="carousel-caption">
                                    ...
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/Images/Carousel/dock seal and leveler.jpg" alt="dock seal and leveler" />
                                <div class="carousel-caption">
                                    ...
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/Images/Carousel/Mezzanine_6.jpg" alt="mezzanine" />
                                <div class="carousel-caption">
                                    ...
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/Images/Carousel/Gorbel workstation crane with Anver vacuum lift.jpg" alt="gorbel workstation crane and anver vacumm lift" />
                                <div class="carousel-caption">
                                    ...
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <br />
                    <i style="font-size: 1.5em;"><b>Centex Material Handling (CMH) is a distributor, integrator, & service provider of material handling & storage equipment. CMH helps companies safely increase productivity, recapture floor space, reduce errors, decrease cycle times, and increase bottom lines.</b></i>
                    <br /><br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <br />
                    <h3 class="text-center" style="font-weight: bold;">Some of our popular products</h3>
                    <br />
                </div>
            </div>


            <div class="row">
                <div class="col-lg-offset-1 col-lg-10">
                    <div class="row">
                        @foreach (var panel in Model.Panels)
                        {
                            @Html.Partial("HomePanel", panel)
                        }
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xs-12 col-lg-2 col-lg-pull-7 col-md-6 col-md-pull-6">
            <span style="font-size: 2em;">Product Catalog</span>
            <div style="max-height: 70vh; overflow-y: auto; overflow-x: hidden;">
                <ul class="list-group">
                    @foreach (var item in @Model.CatalogItems)
            {
                        <li class="list-group-item" style="background-color: #000; border-bottom: 2px solid #fff;">
                            @Html.ActionLink(@item.Name, "Catalog", "Home", new { item.Id, }, new { style = "color : #fff; line-height : 5vh;" })
                        </li>
                    }
                </ul>


            </div>

        </div>

    </div>
</div>



