
@{
    ViewBag.Title = "ProductCatalog";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<script src="~/app/ProductCatalog/catalogcontroller.js"></script>

<style>
    iframe {
        height: 3750px;
        width: 100%;
    }

    @@media(max-width : 576px) {
        iframe {
            height: 8500px;
        }
    }
</style>

<div class="row top">
    <div class="col-lg-offset-1 col-lg-10" ng-controller="CatalogController">
        <iframe src="{{ catalogUrl }}" name="targetframe" allowTransparency="true" scrolling="no" frameborder="0" title="Product Catalog"></iframe>
    </div>
</div>

