@model Centex.Models.Product
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="row" style="padding-top: 60px;">
    <div class="col-lg-offset-2 col-lg-8">
        <div class="row">
            <div class="col-lg-9">
                <h3>@Model.Title</h3>
                <img src="@Model.ImagePath" style="float: right; width: 25vw;" />
                @foreach (var item in @Model.Descriptions)
                {
                    <p>@item</p>
                }
            </div>
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Contact US</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label" for="focusedInput">First Name</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="focusedInput">Last Name</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="focusedInput">Email Address</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="focusedInput">Mailing Address</label>
                            <input class="form-control" type="text"><br/>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="focusedInput">Message</label>
                            <textarea class="form-control" rows="3" id="textArea"></textarea>
                        </div>
                        <div class="form-group" style="text-align: center;">
                            <a href="#" class="btn btn-primary">Send Message</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


