
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="row">
    <div class="col-lg-9">
        service content
    </div>
    <div class="col-lg-3">
        other services
    </div>
</div>

